body {
    background-color: #fefefe ;
    height: 100vh;
}
h1 {
    text-align: center;
    margin-top: 8vh;
}
.form-inline {
    margin-top: 3vh;
}
.calc {
    padding:  .5rem 5rem;
}
@media (max-width: 992px) {
  .form-inline {
    display: flex;
    flex-flow: column;
  }